version: "3.8"

services:
  postgres:
    image: postgres:16 # Recomendo usar uma versão específica
    container_name: formaly-db-local
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: formaly-db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
